--index-url=https://packages.idmod.org/api/pypi/pypi-production/simple
dash==2.0.0
dash-renderer
dash-html-components
dash-core-components
dash-bootstrap-components==0.13.1
plotly
py-make
pip-licenses